<ul class="nav tabs-section d-flex align-items-end">
  <li class="nav-item" routerLinkActive='active'>
    <a class="nav-link" routerLink='company'>Compañías</a>
  </li>
  <li class="nav-item" routerLinkActive='active'>
    <a class="nav-link" routerLink='user'>Usuarios</a>
  </li>
  <li class="nav-item" routerLinkActive='active'>
    <a class="nav-link" routerLink='commission'>Manejo de comisiones</a>
  </li>
</ul>
<!-- <app-companies class="main-section"></app-companies> -->
<div class="main-section">
  <router-outlet></router-outlet>
</div>
