<ul class="nav tabs-section d-flex align-items-end">
  <li class="nav-item" routerLinkActive='active'>
    <a class="nav-link" routerLink='company'>Roles y permisos (por compañía)</a>
  </li>
  <li class="nav-item" routerLinkActive='active'>
    <a class="nav-link" routerLink='brand'>Roles y permisos (por marca)</a>
  </li>
  <li class="nav-item" routerLinkActive='active'>
    <a class="nav-link" routerLink='category'>Categorías</a>
  </li>
</ul>

<div class="main-section">
  <router-outlet></router-outlet>
</div>
