<div class="d-flex">
  <nav class="navbar navbar-expand navbar-dark bg-dark flex-column">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <hr>
    <div class="d-flex flex-column user-info">
      <div class="">
      </div>
      <div class="username">
        Username
      </div>
      <div class="user-type">
        Usuario-Promocash
      </div>
      <div class="">
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto flex-column" style="height: 100%; overflow-y: scroll;">
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/analytics'>Analytics <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/company'>Compañías</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/brand'>Marcas</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/distribution'>Distribución</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/consumers'>Consumidores</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/tickets'>Tickets</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/configuration'>Configuración</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/suggestions'>Quejas y sugerencias</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/billing'>Facturación</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/logout'>Salir</a>
        </li>

      </ul>
    </div>
  </nav>

  <!-- <app-company class="d-flex flex-column" style="width: 100%;"></app-company> -->
  <router-outlet></router-outlet>
</div>
