<ul class="nav tabs-section d-flex align-items-end">
  <li class="nav-item" routerLinkActive='active'>
    <a class="nav-link" routerLink='campaign'>Campañas</a>
  </li>
  <li class="nav-item" routerLinkActive='active'>
    <a class="nav-link" routerLink='brand'>Marcas</a>
  </li>
  <li class="nav-item" routerLinkActive='active'>
    <a class="nav-link" routerLink='productLine'>Línea de productos</a>
  </li>
  <li class="nav-item" routerLinkActive='active'>
    <a class="nav-link" routerLink='product'>Productos</a>
  </li>
  <li class="nav-item" routerLinkActive='active'>
    <a class="nav-link" routerLink='cluster'>Cluster</a>
  </li>
  <li class="nav-item" routerLinkActive='active'>
    <a class="nav-link" routerLink='user'>Usuarios</a>
  </li>
</ul>
<!-- <app-companies class="main-section"></app-companies> -->
<div class="main-section">
  <router-outlet></router-outlet>
</div>
